@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900;800&display=swap");  

body{
    font-family:"Poppins", sans-serif;
    box-sizing: border-box;
}
.box-wrapper{
    border: 3px solid black;
}
.box-1{
    width:48%;
    float:left;
    background: salmon;
    padding: 10px;
}
.box-2{
    width:48%;
    float:right;
    background: hotpink;
    padding: 10px;
}
@media (max-width : 1024px){
    .box1,.box-2{
        float:none;
        width:100%;
    }
}

@media all and (max-width : 500px){
    .box1,.box2{
        color: blueviolet;

    }
}