.container{
    max-width: 1440px;
    margin: 300px auto;

    display: grid;
    gap: 5px;
     

    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 10px;
}

.item{
    border: 2px solid black;
    padding: 2px;
}