

p{
    font-weight: normal;
}

h1{
    text-align: center;
    background-color: red;
    font-size: 35px;
    text-decoration: underline solid black;
}

p{
    font-size: 20px;
    line-height: 30px;
    word-spacing: 2px;
    letter-spacing: 2px;
}